// @font-face {
//   font-family: "Figtree-ExtraBold";
//   src: url("../fonts/Figtree-ExtraBold.ttf") format("truetype");
//   font-weight: 800;
//   font-style: normal;
// }
// @font-face {
//   font-family: "Figtree-Medium";
//   src: url("../fonts/Figtree-Medium.ttf") format("truetype");
//   font-weight: 500;
//   font-style: normal;
// }
@font-face {
  font-family: "Figtree";
  src: url("../../assets/fonts/Figtree-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("../../assets/fonts/Figtree-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Figtree", sans-serif;
}
